.stories__home{
  position: relative;
  width:100%;
  height:100px;
  top:20px;
  //background-color: white;
  overflow-x: scroll;
  //overflow-y: hidden;
  display:flex;
  flex-direction: row;
 
  
}
 /* width */
 ::-webkit-scrollbar {
   width: 0px;
 }
 /* Track */
 ::-webkit-scrollbar-track {
   background: black; 
 }
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: black; 
 }