.story__card {
  position:relative;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  //border:1px solid white;
  //border-radius: 50%;
  //background: radial-gradient(rgb(0,0,0,0.15) 60% transparent 0 ),radial-gradient(white 65% transparent 0 ),linear-gradient(to top right,orange,deeppink);
}
